form.destination-input(name="destForm" ng-class="{'has-error': false }")
  .input-group(ng-click="focus()")
    button.form-control(
      type="button"
      ng-show="model.type === 'Accounts'"
      ng-click="clearModel(); focusInput();")
      span.pull-left
        | {{ model.label }}
    input.form-control(
      type="text"
      tabindex="1"
      autocomplete="off"
      placeholder="Paste or scan an address or select a destination"
      ng-model="model.address"
      ng-hide="model.type === 'Accounts'"
      ng-blur="blur()"
    )
    .input-group-btn(uib-dropdown)
      qr-scan(on-scan="onAddressScan")
      button.btn.btn-default(type="button" uib-dropdown-toggle)
        span.caret
        span.sr-only Toggle Dropdown
      ul.uib-dropdown-menu.dropdown-menu-right.dropdown-menu
        li(ng-repeat="account in accounts")
          a(ng-click="setModel(account)" ng-disabled="account.index === model.index")
            | {{ account.label }}
  .has-error
    span.help-block(translate="BITCOIN_ADDRESS_INVALID" ng-show="false")
    span.help-block(translate="SAME_DESTINATION" ng-show="false")
  .flex-center.recipient-currency.mtl(
    ng-class="{ 'has-error': destForm.btcAmount.$invalid }")
    .mrl.flex-1
      .flex-center.border-bottom
        span.mrm {{ btcCurrency.code }}:
        input.form-control.no-border(
          type="number"
          ng-model="model.amount"
          ng-model-options="{ updateOn: 'default' }"
          name="btcAmount"
          tabindex="1"
          transform-currency="btcCurrency"
          placeholder="0"
          min="1"
          max="2100000000000000"
          required)
    i.ti-arrows-horizontal.h4.aaa.prm
    .flex-1
      .flex-center.border-bottom
        span.mrm {{ fiatCurrency.code }}:
        input.form-control.no-border(
          type="number"
          ng-model="model.amount"
          ng-model-options="{ updateOn: 'default' }"
          name="fiatAmount"
          tabindex="1"
          transform-currency="fiatCurrency"
          placeholder="0"
          required)
